name: apio CI Build

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    paths:
      - '**'
      - '!**.md'
      - '!LICENSE'
      - '!.gitignore'
  pull_request:
    branches: [ main ]
    paths:
      - '**'
      - '!**.md'
      - '!LICENSE'
      - '!.gitignore'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Install build dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-arm-none-eabi make
        
    - name: Build example
      run: |
        make
